.action-section-container {
  grid-column: 1 / 4;

  .main-info {
    margin-bottom: 20px;
  }

  .info-item {
    // position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 8px;
  }

  .label {
    font-size: var(--font--size-semi-medium);

    min-width: fit-content;
  }

  .value {
    font-size: var(--font--size-regular);
  }

  .file-name-container {
    line-height: 1.8;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    direction: inherit; /* Inherit the text direction from the parent container */
    text-align: inherit; /* Align text based on the inherited direction */
    text-overflow: ellipsis;
  }

  .ellipsis {
    line-height: 1.8;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    direction: inherit; /* Inherit the text direction from the parent container */
    text-align: inherit; /* Align text based on the inherited direction */
    text-overflow: ellipsis;
  }

  .status {
    padding: 3px 6px;
    border-radius: 3px;
    font-weight: bold;
    border-radius: 8px;

    &.active{
      color: #4CAF50;
      color: var(--color--foreground--50);
    }

    &.playing {
      border: 1px solid var(--color--mixed--green);
      color: var(--color--mixed--green);
    }
    &.paused {

      border: 1px solid var(--color--mixed--warning);
      color: var(--color--mixed--warning);
    }

    &.error {
      border: 1px solid var(--color--mixed--error);
      color: var(--color--mixed--error);
    }

    &.idle {
      border: 1px solid var(--color--mixed--info);
      color: var(--color--mixed--info);
    }
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
  }

  .harmony-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    background-color: var(--color--foreground--100);
    color: var(--color--background--100);
    border: none;
    border-radius: 8px;
    font-size: var(--font--size-large);
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;

    .icon {
      margin: 0 3px;
        margin-top: 6px;
      svg {
        height: var(--font--size-large);
        width: var(--font--size-large);
      }


    }

    &:active {
      opacity: 80%;
    }
  }
}

@media all and (max-width: 1350px) {
  .action-section-container {
    grid-column: 1 / 4;
  }
}

@media (max-width: 1020px) {
  .action-section-container {
    grid-column: 1 / 3;
  }
}

@media (max-width: 760px) {
  .action-section-container {
    grid-column: 1 / -1;
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;

  .player-select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--color--foreground--10);
    backdrop-filter: blur(8px);
    color: var(--color--foreground--100);
    // box-shadow: 0 4px 6px var(--color--foreground--10);
    font-size: 16px;
    appearance: none; /* Removes native dropdown arrow */
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: var(--color--foreground--20);
    }

    &:focus {
      box-shadow: 0 0 0 3px var(--color--foreground--30);
    }
  }

  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevents interaction with the icon */
    color: var(--color--foreground--100);
    font-size: 12px;
  }
}




.file-status-dot {
  position: absolute;
  bottom: 3px;
  right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--color--background--100);
  background-color: var(--color--mixed--error); // Default red for no file

  &.ready {
    background-color: var(--color--mixed--green); // Green for has file
  }
}
.room-member-list {
  display: flex;
  flex-direction: column;

  max-height: 300px;
  overflow-y: auto;

  .list-title{
    font-size: var(--font--size-semi-medium);
    margin-bottom: 12px;
  }
  .member-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;

    .member-avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .member-info {
      display: flex;
      flex-direction: column;

      .username {
        font-size: var(--font--size-semi-medium);
        color: var(--color--foreground--100);
      }

      .role {
        font-size: 12px;
        color: var(--color--foreground--60);
      }

      .file-status {
        font-size: var(--font--size-xxsmall);

        padding: 3px 5px;
        font-weight: bold;
        border-radius: 1010px;
        width: fit-content;

        &.ready {
          border: 1px solid var(--color--mixed--green);
          color: var(--color--mixed--green);

        }

        &.not-Ready {
          border: 1px solid var(--color--mixed--error);
          color: var(--color--mixed--error);
        }
      }
    }
  }
}

.media-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 15px;
  background-color: var(--color--background--100); // Use theme background
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--color--mixed--shadow); // Use shadow color

  .media-header {
    font-size: 16px;
    font-weight: 600;
    color: var(--color--foreground--100); // Use theme foreground
    width: 100%;
    text-align: left;
  }

  .media-controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .select-button {
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 500;
      color: var(--color--background--100); // Button text color
      background-color: var(--color--mixed--link); // Button background
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--color--mixed--hover); // Hover effect
      }
    }

    .selected-file {
      display: flex;
      flex-direction: column;
      background-color: var(--color--background--100); // File background
      padding: 10px;
      border: 1px solid var(--color--mixed--divider); // Divider color
      border-radius: 8px;
      word-wrap: break-word;

      span {
        font-size: 12px;
        font-weight: 600;
        color: var(--color--foreground--75); // Slightly muted text color
      }

      p {
        font-size: 14px;
        color: var(--color--foreground--100); // Main text color
        margin: 5px 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
